<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/index.css" rel="stylesheet">
    <script src="../js/index.js" type="application/javascript"></script>
    <title>Title</title>
</head>
<body>
<div style="text-align: center">
    <h1>index page</h1>
</div>
<div>
    url: <label for="url"><input PLACEHOLDER="please input the url" id="url" type="text"/></label>
    method: <label for="method"><input PLACEHOLDER="please input the method" id="method" type="text"/></label>
    <input onclick="loadXMLDoc()" type="button" value="sub"/>
</div>
<div id="txt">
    <p id="thepage"></p>
</div>
</body>
</html>